[2021-05-01 14:04] megekun opened #1 "Bug report"
**Describe the bug**
A clear description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. Execute in '....'
4. See error

**Expected behavior**
A clear description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following

[2021-05-01 14:56] JaouherK commented on #1
@megekun can you describe me the bug that you had?

[2021-05-12 15:55] lplayonmy6 opened #2 "Bug report"
**Describe the bug**
A clear description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. Execute in '....'
4. See error

**Expected behavior**
A clear description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following

[2021-05-14 13:56] JaouherK commented on #2
@lplayonmy6  can you please provide more info for us?

[2021-05-19 22:13] JaouherK commented on #2
Missing informations

[2021-05-19 22:13] #2 closed

[2021-05-19 22:13] JaouherK commented on #1
Missing informations

[2021-05-19 22:13] #1 closed

[2021-05-20 16:13] krabs-github opened #4 "Area Code / City Name is now showing with no way to turn off...."
Area Code / City Name is now showing with no way to turn off. This prevents showing the temp on the top. Some of the condition icons make the temp hard to read if it is on the bottom. The ability to switch the city label off, would be awesome.  It is also right justified and the temp is center justified.

Thank you for this plug in and your time.
![Screenshot 2021-05-20 121253](https://user-images

[2021-05-20 17:32] JaouherK commented on #4
@krabs-github Thank you for reaching out with this report  and for encouragements😃
We are putting the city/area code as right-justified because the majority of icons are higher to the left 😞
We can set of course a drop-down to display/hide the city name. However, would it be better to keep it at the top if we are able to avoid letting the weather icon affect the display of the temperature at the b

[2021-05-21 19:07] GDSteelers opened #5 "Bug report"
Please write here a description of the bug and the steps to reproduce it.
Weather won't work.

[2021-05-21 19:51] jahands commented on #5
Mine hasn't been working since yesterday. Here's what it does when I press the button:
![image](https://user-images.githubusercontent.com/10719325/119191190-eacfe380-ba43-11eb-98a7-6028921d7ea9.png)

The API key does work, here's the response from using it in browser:
![image](https://user-images.githubusercontent.com/10719325/119191268-020ed100-ba44-11eb-9824-1ac9d044dec9.png)

[2021-05-21 19:53] jahands commented on #5
Fixed it! Just change the Provider to "Open Weather" and then back to "Weather API" and it works again! Guessing just some kind of invalid state because of the update that added Open Weather as a provider.

[2021-05-21 19:54] JaouherK commented on #5
@jahands which provider did you select in the drop-down?
you should be able to select Weather API not Open weather
can you validate this for me?

[2021-05-21 19:55] jahands commented on #5
It was set to Weather API previously when I set it up a few weeks ago, and still was when I double checked it today. Had to switch to Open Weather and then back to Weather API for it to work.

[2021-05-21 19:57] JaouherK commented on #5
AH great :) thank you :) Hope you enjoy the plugin
don't forget to click on the "star the project" if you liked it 😄
Will close the issue now then :)

[2021-05-21 19:59] jahands commented on #5
@JaouherK Love the plugin!! Thanks so much for maintaining it, Jaouher :) Have a great day!

[2021-05-22 17:43] GDSteelers commented on #5
I tried this workaround but it still does not work for me. This should be an open issue still

[2021-05-22 17:58] jahands commented on #5
Should be fixed once v2.1.1 gets released (#6)

[2021-05-22 18:39] Pade2204 commented on #4
I was about to report this "bug". I would really like to just turn city name off. Thanks

[2021-05-22 18:40] JaouherK commented on #5
@GDSteelers can you give more details, please?
Are you sure you are having the proper API key for the proper provider? Now, we have two providers.
It might be something else 😞 I can only fix when I have more data
I will reopen for couple of days until we get further details

[2021-05-22 18:42] GDSteelers commented on #5
It has worked fine until the last few days or so.

I have the same API key I used when it worked properly. I tried both provider drop down options. neither worked.

What other info can I get you?

[2021-05-22 18:43] JaouherK commented on #4
@Pade2204 Working on it 👍
It will be released on the next version

[2021-05-22 18:45] Pade2204 commented on #4
Thanks - I like the app though. Keep it up :)

[2021-05-22 18:49] JaouherK commented on #5
@GDSteelers can you please access this URL and at the end of it add your key? right after key=
http://api.weatherapi.com/v1/current.json?q=London&aqi=no&key=
if it shows something there please copy it here :)

[2021-05-22 19:07] GDSteelers commented on #5
{"location":{"name":"London","region":"City of London, Greater London","country":"United Kingdom","lat":51.52,"lon":-0.11,"tz_id":"Europe/London","localtime_epoch":1621710301,"localtime":"2021-05-22 20:05"},"current":{"last_updated_epoch":1621706400,"last_updated":"2021-05-22 19:00","temp_c":13.0,"temp_f":55.4,"is_day":1,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x6

[2021-05-22 19:26] JaouherK commented on #5
So the API works. What happens when you click on the button. does it show what @jahands experienced? the yellow exclamation mark?
can you please change the provider, select the Openweather, push the button, revert to Weather API, and finally push the button one last time. usually, this should fix it.

[2021-05-22 19:30] GDSteelers commented on #5
Yes. The yellow exclamation mark.

I did that. No luck.

[2021-05-22 19:35] JaouherK commented on #5
would you mind a zoom call with a share screen session just to see where could possibly be the issue?

[2021-05-22 19:36] GDSteelers commented on #5
Sure! Thanks! Want to send me a private message?

[2021-05-22 19:38] JaouherK commented on #5
can you post me here your twitter id? I can send you from there directly the invitation

[2021-05-22 19:42] GDSteelers commented on #5
@SoundStudio412

[2021-05-22 19:44] JaouherK commented on #5
I cannot message you :) can you direct message me @ShinigamiGood

[2021-05-22 19:47] GDSteelers commented on #5
Done.

[2021-05-22 19:57] GDSteelers commented on #5
Thank you so much for your help!

If anyone finds this in the future - an uninstall and re-install of the Weather Action fixed the issue for me.

[2021-05-22 20:00] JaouherK commented on #5
I will write this troubleshooting session in a separate file for people to check later.
Thank you for your collaboration and contribution to make this plugin better. 👍
Closing the issue now ☮️

[2021-05-22 20:00] #5 closed

[2021-05-22 22:51] JaouherK commented on #4
Fix implemented, waiting for Elgato to deploy the new version. 👍
Thank you @krabs-github  & @Pade2204 for contributing to making the plugin better
If you enjoyed the plugin please star the repository here

[2021-05-22 22:51] #4 closed

[2021-05-23 11:53] lucienimmink commented on #5
FYI: exact same issue happened here. Fix was to switch weather API provider from "Weather API" to "Open Weather" and back again to "Weather API".

[2021-05-24 04:20] tpoconnor1 opened #10 "Bug report"
have weather as a setup on my stream deck but the weather keeps bugging out.  doesnt display weather or temp just a yellow caution sign.

[2021-05-24 06:10] JaouherK commented on #10
Hi @tpoconnor1 , a fix have been created. Waiting for elgato team to roll it out. A fast recovery method is to change fast the provider to openWeather and then back to weather API.
Also, sometimes Uninstall and reinstall solves the problem.

[2021-05-31 06:22] adamesq opened #11 "Updating"
The weather is showing that it's been 69.1F the entire day. I had it sent to push button for refresh, but nothing happens.

[2021-06-15 21:33] JaouherK commented on #10
@tpoconnor1 did the bug still occur after the latest update?

[2021-06-15 21:34] JaouherK commented on #11
@adamesq does the issue still persist after the last update of the stream deck?

[2021-06-15 21:55] tpoconnor1 commented on #10
All good now

On Tue, Jun 15, 2021 at 4:33 PM Jaouher Kharrat ***@***.***>
wrote:

[2021-06-15 22:58] JaouherK commented on #10
Great thank you.

[2021-06-15 22:58] #10 closed

[2021-06-17 21:14] adamesq commented on #11
All’s now working well! Thank you!

[2021-06-18 06:49] JaouherK commented on #11
@adamesq Thank you for your reply. I am now going to close this issue 😄
Please consider adding a good note to it ⭐

[2021-06-18 06:49] #11 closed

[2021-06-24 01:32] thepaulstella opened #12 "Round to the closest degree"
I would like the option to round the closest degree.

Current: 58.37 *F
Desired: 58 *F

[2021-06-24 02:11] thepaulstella commented on #12
PR: https://github.com/JaouherK/streamDeck-weatherPlugin/pull/13

[2021-06-25 13:04] JaouherK commented on #12
Hi @thepaulstella,  Thank you for the PR. 🙇
 I will test it today and publish a newer Version

[2021-06-25 18:24] #12 closed

[2021-06-29 13:37] thorvarg opened #14 "Bug report"
Please write here a description of the bug and the steps to reproduce it.
no function on my Stream Deck :( Regenerate my API 2 times. I´don´t know why

[2021-06-29 20:08] elimere opened #15 "Bug report"
Does not pull weather. It randomly stopped working over the weekend. API Key is valid.

[2021-07-01 00:38] willl commented on #14
#15 is the same issue.

I was experiencing this issue, and fixed it by toggling `Round to closest degree` from `Yes` to `No`.

After it starts working again, you can change it back to `No` (if you like).

[2021-07-04 05:54] ShadowMax commented on #15
try this: https://github.com/JaouherK/streamDeck-weatherPlugin/issues/14#issuecomment-871819926
it's helped me

[2021-07-05 05:28] tpoconnor1 opened #16 "Bug report"
press button on my stream deck and yellow triangle with black exclamation point shows up.  api is loaded, not sure what the reading issue is

[2021-07-05 19:10] ermonas opened #17 "The icons are getting stretched out and look kinda small"
Step 1: Add a city using any provider
Step 2: Refresh
The resulting icon will be small, and stretched, looking weird on the StreamDeck.
<img width="114" alt="Captura de Pantalla 2021-07-05 a la(s) 16 09 12" src="https://user-images.githubusercontent.com/678742/124511032-7eb6fe00-ddab-11eb-9c0a-6fdda96476b0.png">

[2021-07-07 18:09] skuuz opened #18 "Plugin stops working after hours of use"
The plugin isn't generating the weather anymore. Getting the warning triangle on the StreamDeck.

Toggling "Rounding Degree" off doesn't fix the solution. The API key is valid

[2021-07-12 10:02] skyopticuZz opened #19 "Bug report"
dont work

[2021-07-13 19:32] Pyroptical opened #20 "Bug report"
Please write here a description of the bug and the steps to reproduce it.
sits on "weather" splash screen and doesn't auto update until button is pressed

[2021-07-14 11:35] BracerKirk opened #21 "Bug report"
correct weather, then cycles between other weather after a few seconds.  query in stream deck for city is 'q=s11' as if I use 'Sheffield' it picks up the wrong city (Sheffield in Cornwall, not Sheffield in South Yorkshire which is what I want).  If I press the stream deck button again, it shows the correct temp for a few seconds again.

[2021-07-20 19:58] mrksnrm opened #22 "MacOS Fetching data impossible"
Not working on Mac anymore. Regenerated new API-key, still nothing.
Also stopped working with windows until regenereated API-key.

[2021-07-21 13:21] jumpmancol commented on #22
Same happened to me as well...do you just get a yellow triangle?

[2021-07-21 13:22] jumpmancol commented on #16
Same here...was working for a long time, and then recently stopped

[2021-07-21 13:23] jumpmancol commented on #14
Doesn't look like this fixes the issue with the yellow triangle/exclamation mark.

[2021-07-21 13:43] Martin024 opened #23 "Bug report"
Please write here a description of the bug and the steps to reproduce it.

[2021-07-21 13:43] #23 closed

[2021-07-21 14:00] mrksnrm commented on #22
Yes, yellow triangle appears when pressing weather button on Stream Deck

[2021-07-22 18:30] GDSteelers opened #24 "Weather Plugin not working"
Weather app stopped working again. I tried uninstalling and reinstalling but it did not work.

[2021-07-27 17:15] MalakieUSN opened #25 "Button unresponsive"
Added button to stream deck, filled out openweather API key and other info..  Nothing happens. Nothing appears on streamdeck and nothing happens on button press.

[2021-07-27 18:01] drewmatthews opened #26 "Error fetching data from provider after updated version"
The app just stopped working on my stream deck.

I've double-checked my API key and restarted stream deck etc. Every time I press the button I just get the Triangle ! and then just the Weather logo again.

[2021-08-04 21:32] zmx01 opened #27 "Bug report"
City name is unreadable on stream deck mobile. The city name is Renca, but it shows really blurry, I'm attaching a screencap. My settings are: Open weather, city name renca, celsius, fetch frequency 1 h, display city name on top left, and round to closest degree yes. No icon set on button.
![IMG_4536](https://user-images.githubusercontent.com/67028845/128257832-ae6d5fb0-2ad9-4cb2-a911-5549ad776457

[2021-08-18 20:28] bartnd commented on #26
Had the same issue, but after making a sample request to the API url it started feeding data.
I had originally used the wrong city format (I added state code as well) but even after removing the state and only listing the city (which ended up being successful) I would still see the green triangle.

[2021-08-23 13:59] matpena opened #28 "Bug report"
Love the app!
But the setting is set to fetch data every 10 minutes, but it's getting refreshed only when I press the button.

Mac OS v. 5.0.0

[2021-09-03 08:46] BCLV4 commented on #14
Turning off the rounded degree works for me too. Thanks for the hint.

[2021-09-11 21:51] atabuchiy opened #29 "update consumed openweather api Version"
openweather updated their api and now it doesn't work,,,

[2021-10-29 08:02] memheldp opened #30 "Bug report"
Hello,
I installed the Weather plugin on an updated software Streamdeck XL, I tried both weather provider, creating API key, and nothing appears.
Thank you for your advice.
Regards,
Pierre

[2021-11-24 17:14] Thirteen-37 commented on #17
I have the same issue, sometimes the symbol is not orange but its grey

[2021-11-27 19:56] Charevna opened #33 "Bug report"
Please write here a description of the bug and the steps to reproduce it.

[2021-12-03 00:17] TinuzzWasTaken opened #34 "Bug report"
Temp returns NaN when temperature is 0.0C. Changing this to F returns 32F as normal.
![Screenshot 2021-12-03 011620](https://user-images.githubusercontent.com/74241776/144523176-e9c20453-0dec-46a5-a0f2-598f80c82a73.jpg)

[2021-12-06 15:54] Aetles commented on #28
Same problem here, only updated when pressed.

[2021-12-07 14:53] mccartney commented on #14
Turning off rounded degree didn't work for me. But what did was to change the city name.
I had:

and I changed to:

and it started working after pressing the Stream Deck physical button.

[2021-12-07 14:56] mccartney opened #35 "Optionally not show the cloud/sun icons, just the temperature"
Suggestion: let's introduce a mode (setting) which would allow showing just the temperature in bigger font.

Why: Where I live, at least during some seasons the "cloudiness" doesn't change that much, thus showing the cloud doesn't bring that much value. The temperature does.

[2021-12-21 12:52] valyakonev opened #36 "Temperature and city name not visible"
Hi!
Temperature is not shown, only weather condition (snow, clouds, etc.). Tested on both: Weather API, Open Weather.
Stream deck software version 5.1.4.14753
Hardware: Stream deck XL.
![image](https://user-images.githubusercontent.com/96479264/146933105-96e11c21-c4a4-4f79-aca3-bb5f4230ebdb.png)

[2021-12-25 22:42] bugrakaanjf opened #37 "Bug report"
Please write here a description of the bug and the steps to reproduce it.

When the temperature is at 0 degrees celcius it gets reported as "NaN". Should be pretty easy to reproduce in debug mode.

[2022-01-02 07:38] alvinhu19 opened #39 "Bug report"
Please write here a description of the bug and the steps to reproduce it.

[2022-01-04 18:26] usernameplaceholderhere opened #40 "Time Interval Fetch Still Requires Initial Button Push"
After restarting the Stream Deck application, launching it initially, or creating a new Weather Plugin button, this issue can be found. The "Weather" icon is shown, but will not provide an initial update unless the button is pushed, regardless of the time interval set. After pushing the button, the time interval is taken into account for future fetches/updates.

I'm not sure if this is the intende

[2022-01-05 15:56] GoOtterGo opened #41 "Decminal Rounding Not Persistent"
Whenever I turn decimal rounding on it'll work during the first press, but then revert back to 2 decimals shortly after, and during auto-refreshes.

[2022-01-11 17:55] JaouherK commented on #39
CAn you please provide us what was exactly the bug?

[2022-01-11 18:02] JaouherK commented on #36
This is unexpected. Can you please check your settings?
![image](https://user-images.githubusercontent.com/20973209/148996499-23958ab9-82f2-4bf3-86d4-6ca5e2524abc.png)
1- Make sure the Title field is empty
2- Make sure "Display city name" is not on Hide

Please inform me if this is still not resolved

[2022-01-11 18:05] JaouherK commented on #35
Hi, @mccartney  Thanks for this proposal.
I will try to add it to the project plan.

[2022-01-11 18:08] JaouherK commented on #34
Thank you for reporting this bug. 👍
This will be released in the next version :)
Please consider adding a start to the project if you like it :)

[2022-01-11 18:08] #34 closed

[2022-01-11 18:09] JaouherK commented on #37
Thank you for reporting this bug. 👍
This will be released in the next version :)
Please consider adding a start to the project if you like it :)

[2022-01-11 18:09] #37 closed

[2022-01-11 18:22] JaouherK commented on #29
Dear @atabuchiy ,
I tested the application for the last couple of days and doesn't seem like there is an issue so far 🤔
Also, OpenWeather API uses the API version in the request. So we are still safe as long as there is no breaking change.
I will however create another issue to update to the latest version of open API as an enhancement not as a bug.
I will link it later here.

[2022-01-11 18:23] JaouherK commented on #28
@Aetles  Do you have also a macOS?

[2022-01-11 18:32] JaouherK commented on #27
Hi @zmx01 Thank you for reporting this bug 👍
I cannot reproduce it exactly but it is still a not sharp enough display
![image](https://user-images.githubusercontent.com/20973209/149000714-26e0f491-46f1-4371-9ee2-7d760d1efe13.png)
I will try to fix this in the upcoming release or the one after
I suspect this is linked to the default writing font of your computer, but this needs further investigatio

[2022-01-11 18:38] JaouherK commented on #26
Dear @drewmatthews and @bartnd
Thanks for reporting this bug 👍
 Do you still face the issue? can you please provide me with the provider causing this?

[2022-01-11 18:40] JaouherK commented on #25
Dear @MalakieUSN , Do you still face this issue?

[2022-01-11 18:42] JaouherK commented on #24
@GDSteelers thank you for reporting this issue. 👍
Do you still face this issue?

[2022-01-11 18:45] JaouherK commented on #22
@mrksnrm Thanks for reporting this bug.
Did the system recover?
@jumpmancol do you also face this issue with MacOS?

[2022-01-11 18:46] Aetles commented on #28
Yes I do. But the problem was not persistent, after some days I noticed that it worked again. Can't say I've been troubleshooting it enough to see a pattern (like if it was a reboot of the computer or a restart of the Stream Deck app or just time passing by).

I've also seen times when I just get "NaN" instead of temperature, but that is probably unrelated.

[2022-01-11 18:52] bartnd commented on #26
@JaouherK I haven't had the issue since my report. I haven't needed to make any additional requests from the command line since my first report. I'm using the Open Weather provider.

When I first start my computer in the morning, I _believe_ that I need to press the button for the weather to start displaying (otherwise it will display the 'weather' icon) though I usually don't let it sit to see if

[2022-01-11 19:17] JaouherK commented on #21
Dear @BracerKirk ,
Thanks for reporting this bug 👍
It is possible when using WeatherAPi instead of OpenAPI to define which city by comma-separated position.
![image](https://user-images.githubusercontent.com/20973209/149006537-cbbeff41-b0d4-43f7-9f9d-fc2727f68672.png)
In fact as you can see in this picture when you sent the request the resolution of the place worked perfectly
![image](https://user

[2022-01-11 19:17] #21 closed

[2022-01-11 19:19] JaouherK commented on #28
NaN happened when we received 0°C. This has already merged and waiting for it to be released soon in addition to some other fixes.

[2022-01-11 19:19] JaouherK commented on #28
@matpena do you still face this issue?

[2022-01-11 19:24] drewmatthews commented on #26
@JaouherK It's been so long and the plugin wasn't working that I just stopped using it on my Stream Deck. I just reinstalled it this morning and it seems to work again. But since it had been so long without a response I figured things were just not being worked on.

[2022-01-11 19:25] matpena commented on #28
Will re-install and let you know.

On Tue, Jan 11, 2022 at 4:20 PM Jaouher Kharrat ***@***.***>
wrote:

[2022-01-11 19:28] JaouherK commented on #26
@drewmatthews I had some personal issues that I wasn't able to check on it.
I am now trying to recover as much as possible the open issues to release a new version with fixes and feature requests.
@bartnd That would be great to have some test cases :)

[2022-01-11 19:32] JaouherK commented on #19
@skyopticuZz  Thank you for your report.
Can you please tell me if this is still happening?
If that is the case, please can you provide me with more details on how to reproduce the failure?

[2022-01-11 19:38] JaouherK commented on #41
@GoOtterGo ,
Thank you for reporting this bug 👍
Can you provide me with more info about which provider you are using and which city? I want to reproduce the behavior

[2022-01-11 21:36] bartnd commented on #26
@JaouherK I shutdown Windows and powered back on to fully repro the issue. I left it running for ~30 minutes and still displaying 'Weather' screen (in a Disney-like font). After pressing the button, the weather loads without issue.

[2022-01-12 04:13] GoOtterGo commented on #41
Sure, of course.

I'm in Toronto, Canada.

Provider is Weather API, but I switched APIs and it didn't seem to change the issue.

I do think I fixed it, though. It shouldn't've mattered, but I changed the font styling and suddenly it didn't come back.

[2022-01-12 13:32] bcwilly opened #43 "Displaying NaN"
Please write here a description of the bug and the steps to reproduce it.
Good morning the Plugin is displaying NaN
I logged in and obtained a new API key and the problem persisted
I am using postal code L5M 0P1 if that helps for some diagnostics

[2022-01-12 14:32] JaouherK commented on #43
Dear @bcwilly the fix for that was created by @timholzhey and was already merged.
We are going to add some other fixes and publish the new version
As info, NaN appears when the weather is 0°C or something like that

[2022-01-12 14:32] #43 closed

[2022-01-12 14:43] bcwilly commented on #43
Yes given it is Canada and has been -27deg C.. that would be it

Brent C. Wilson

Email:  ***@***.***> ***@***.***

Cell: (289) 380-7233

From: Jaouher Kharrat ***@***.***>
Sent: January 12, 2022 9:33 AM
To: JaouherK/streamDeck-weatherPlugin ***@***.***>
Cc: bcwilly ***@***.***>; Mention ***@***.***>
Subject: Re: [JaouherK/streamDeck-weatherPlugin] Displaying NaN (Issue #43)

Dear @bcwilly <https:

[2022-01-13 02:56] MalakieUSN commented on #25
Have not tried it in a while but the last time I did, it was still not working
________________________________
From: Jaouher Kharrat ***@***.***>
Sent: Tuesday, January 11, 2022 12:40 PM
To: JaouherK/streamDeck-weatherPlugin ***@***.***>
Cc: MalakieUSN ***@***.***>; Mention ***@***.***>
Subject: Re: [JaouherK/streamDeck-weatherPlugin] Bug report (#25)

Dear @MalakieUSN<https://github.com/MalakieU

[2022-01-20 20:54] OneGaming36 opened #45 "No Temperature"
Hi,

I've been using the Weather Plugin for a while now without any issues.
Since today I don't get any tempertures for my city anymore. It just shows "NaN".
When I change the City Name from my hometown to e.g. London or New York everything works fine again.
However when I check my city name (with same API Key) on weatherapi it puts out results as usual. Also the temperature is shown there.
If you

[2022-01-21 11:07] OneGaming36 commented on #45
Today I'm getting temperatures again, as usual.
At the time it showed "NaN" the temperature was 0.0°C. This might be a bug that needs to be fixed.

[2022-01-24 09:28] JaouherK commented on #17
@ermonas this will be resolved in the next version of the Weather plugin :) currently working at it
@Thirteen-37 this change of color is coming from the provider and is usually linked to the time of the day.
during the day it is orange and during the night it is grey. so it is the default behavior. the other provider provides better visualisation if you want to test it. :)

[2022-01-24 20:40] johannesbigmac opened #46 "Wether"
Please write here a description of the bug and the steps to reproduce it.
whether

[2022-01-25 11:11] JaouherK commented on #46
@johannesbigmac Can you please provide me with more details about the bug you are facing?

[2022-01-25 11:15] JaouherK commented on #45
Hi @OneGaming36 and thank you for the report.
the NaN is indeed a known issue for us. In fact, it was already fixed in the linked merge above. It will be in the next release in addition to other solved issues.
I will close this issue and inform you when the release is happening in the system.

[2022-01-25 11:15] #45 closed

[2022-01-25 11:15] JaouherK commented on #18
hi @skuuz is the issue still happening?

[2022-01-26 16:49] somethingShiny opened #47 "MacOS No Temperature data displayed"
Running on 2019 MacBook Pro (intel, not M1) with macOS 12.0.1.
Using OpenWeather with valid API key. City is set to match what OpenWeather pulls up based on my location.

Configured everything, set fetch frequency to 10 minutes, pressed button. The image updated to show something roughly matching weather conditions, but no temperature displayed. Toggled temperature rounding several times, switched

[2022-01-27 10:32] trabart opened #48 "Bug report"
Pulling Weather from Melbourne, Florida not Melbourne Australia. Worked correctly originally.

[2022-01-29 14:56] cozyou1 opened #49 "Bug report"
Please write here a description of the bug and the steps to reproduce it.
no uptate weather!!!

[2022-02-05 21:26] johannesbigmac opened #50 "Bug report"
Please write here a description of the bug and the steps to reproduce it.

[2022-02-21 22:32] gwhizkids opened #51 "Bug report"
I've input the API key into the StreamDeck config menu.  However, when I activate the StreamDeck button, I get a yellow triangle (warning) with an exclamation point.  This worked when I first installed it in the middle of 2021, but stopped after a month or so.

[2022-02-22 21:29] spitfire opened #52 "Pług in does not refresh data"
Plug in does not refresh data. When I start up my system it does not display data until I push it. It also does not refresh data after the initial sync.

[2022-02-28 07:40] BigAl66 commented on #52
Same here... It's setup to automatically refresh after interval (10 minutes) but it will refresh only by pressing the button...

[2022-02-28 22:30] rosavanwinkle opened #53 "Bug report NaN"
seems like the weather is bugged for me , it was showing for a long time then suddenly it says NaN not sure what it is not a number?
![image](https://user-images.githubusercontent.com/5783693/156069118-73f50349-b93e-4899-a4ac-f37286b9fcfe.png)

[2022-03-03 20:12] OneGaming36 commented on #53
Seems like this has already been fixed a few weeks ago.
For some reason the fix isn't included in the recent sdPlugin.
Replace the main.js within the plugin with the fixed one from https://github.com/JaouherK/streamDeck-weatherPlugin/tree/master/Sources/com.jk.weather.sdPlugin/plugin and it should work fine. At least it does for me.

[2022-03-05 07:18] powerfulapps opened #54 "Bug report"
Hi There. Downloaded the Stream Deck Plugin and installed it but under both weather providers i get a Yellow triangle with an exclamation mark when ever l push the button. I have tried reinstalling the plugin and ttried both providers, registered and even tried different cities. Any suggestions. I have even regenerated the API key.
Thanks
Sue Waghorn

[2022-03-09 09:03] BubbiBubbi opened #55 "Bug report 0°C shows as NaN"
When the temperature is 0°C it shows NaN instead of the temperature.
If I change it to Fahrenheit, it shows the correct 32°F, but for Celcius it shows NaN when it's 0°C outside.
![weather](https://user-images.githubusercontent.com/6352008/157408342-fb6192c1-2e17-4649-a07a-31cf92a5eb6e.PNG)

[2022-03-09 09:05] BubbiBubbi commented on #55
Found the fix a few posts below. Sorry! :)

[2022-03-09 09:05] #55 closed

[2022-03-12 17:05] jcfromkc commented on #54
Same thing..

[2022-03-14 14:08] magicbycalvin opened #56 "Unable to Retrieve Data from Open Weather API"
I have performed the following steps:

- Created and verified my account at openweathermap.org
- Copied my API key into the proper field
- Selected Open Weather for my provider
- Wrote down my city name
- Chose the temperature unit (I have issues in both F and C)
- Set the fetch frequency to be on push
- Selected hide for display city name (I have issues with whichever display type I choose)
- Sel

[2022-03-16 16:30] JaouherK commented on #56
@magicbycalvin I would love to have a call so we can discuss this. I am unable to reproduce it in the first place unfortunately 😞
Are you open to this possibility?

[2022-03-16 18:42] magicbycalvin commented on #56
@JaouherK I would be more than happy to meet and discuss the issues.

[2022-03-16 18:46] magicbycalvin commented on #56
@JaouherK Of course the moment I go to test it again it seems to be functioning properly. Not sure what I did to fix it. I am pretty sure I have rebooted my computer since the last time I tried it though. I was suspecting my VPN may have been part of the problem but it seems to work just fine with it turned on.

I would say you are fine to close the report but I will be sure to let you know if I r

[2022-03-17 09:27] JaouherK commented on #56
Thank you @magicbycalvin :)
have a nice day

[2022-03-17 09:27] #56 closed

[2022-03-17 11:09] ExtremeYu opened #59 "Bug report"
stream deck must press the button then refresh the screen!!!

[2022-03-17 12:27] JaouherK commented on #59
Hi @ExtremeYu and thanks for reporting.
Can you give me more details? the report is not clear enough for me 😄

[2022-03-17 12:28] JaouherK commented on #51
@gwhizkids does this issue still happen for you? sometimes you need when you set the API key to hit "Enter" button after for this to take effect

[2022-03-17 12:29] JaouherK commented on #50
@johannesbigmac  CAn you please give me more details about the bug you are facing here?

[2022-03-21 18:45] Joshucannon opened #60 "Issues Connecting to Stream Deck"
No matter what I do, I can't get the weather to appear. I have API keys from Open Weather and Weather API but neither work. I have tried both services with different cities to see if anything would show up but nothing is working.

[2022-03-21 19:21] JaouherK commented on #60
Hi @Joshucannon ,
Would you mind we have a zoom call so you can show me how this is happening? I cannot reproduce it.

[2022-03-21 21:03] #29 closed

[2022-03-21 21:21] JaouherK commented on #15
Issue solved and will be released in next release

[2022-03-21 21:21] #15 closed

[2022-03-21 21:22] JaouherK commented on #16
The issue already resolved and will be released in next version

[2022-03-21 21:22] #16 closed

[2022-03-21 21:23] JaouherK commented on #18
The issue already resolved and will be released in next version

[2022-03-21 21:23] #18 closed

[2022-03-21 21:24] JaouherK commented on #19
Issue closed because of stale status

[2022-03-21 21:24] #19 closed

[2022-03-21 21:25] JaouherK commented on #22
The issue already resolved and will be released in next version

[2022-03-21 21:25] #22 closed

[2022-03-21 21:26] JaouherK commented on #24
The issue already resolved and will be released in next version

[2022-03-21 21:26] #24 closed

[2022-03-21 21:27] JaouherK commented on #25
The issue already resolved and will be released in next version

[2022-03-21 21:27] #25 closed

[2022-03-21 21:29] JaouherK opened #61 "@JaouherK I haven't had the issue since my report. I haven't needed to make any additional requests from the command line since my first report. I'm using the Open Weather provider."
@JaouherK I haven't had the issue since my report. I haven't needed to make any additional requests from the command line since my first report. I'm using the Open Weather provider.

When I first start my computer in the morning, I _believe_ that I need to press the button for the weather to start displaying (otherwise it will display the 'weather' icon) though I usually don't let it sit to see if

[2022-03-21 21:29] JaouherK commented on #26
The issue is already resolved and will be released in the next version

[2022-03-21 21:29] #26 closed

[2022-03-21 21:32] JaouherK commented on #30
The issue is already resolved and will be released in the next version

[2022-03-21 21:32] #30 closed

[2022-03-21 21:32] JaouherK commented on #33
Not enough info to work on

[2022-03-21 21:32] #33 closed

[2022-03-21 21:34] JaouherK commented on #36
Closing issue due to inactivity

[2022-03-21 21:34] #36 closed

[2022-03-21 21:35] JaouherK commented on #39
Closing issue due to inactivity

[2022-03-21 21:35] #39 closed

[2022-03-21 21:37] JaouherK commented on #46
Closing issue due to inactivity

[2022-03-21 21:37] #46 closed

[2022-03-21 21:45] JaouherK commented on #48
Dear @trabart
sorry for the late reply. you can make the specific city like the following:
set city name: melbourne,australia or melbourne,florida should add the needed precision
please note there is no space in the input.
I have just tested and validated values like the above using WeatherAPI provider and comparing it to google weather
If it does not work please feel free to reach out to me

[2022-03-21 21:46] #49 closed

[2022-03-21 21:46] JaouherK commented on #50
Closing issue due to inactivity

[2022-03-21 21:46] #50 closed

[2022-03-21 21:47] JaouherK commented on #51
The issue is resolved and will be released in the next version

[2022-03-21 21:47] #51 closed

[2022-03-21 21:49] JaouherK commented on #53
Issue fixed and will soon be released in the store

[2022-03-21 21:49] #53 closed

[2022-03-21 21:50] JaouherK commented on #54
Issue resolved and will be released soon to stream deck store

[2022-03-21 21:50] #54 closed

[2022-03-23 00:39] atomixer2k opened #62 "Bug report"
Please write here a description of the bug and the steps to reproduce it.
OpenWeatherAPI is not working

[2022-04-03 11:24] wirehack7 opened #63 "Bug report"
Please write here a description of the bug and the steps to reproduce it.

I'm using "Ottobrunn" as city and the WeatherAPI as data source.
Current API response is `temp_c": 0.4,` for temperature in Celsius. However, it shows **NaN** when using Celcius. When using Fahrenheit the number is shown correctly (32°F).
Is here a format problem? Could this be fixed?
Round to closest degrees doesn't affect

[2022-04-04 08:57] brillo9772 opened #64 "Bug report"
Please write here a description of the bug and the steps to reproduce it.

[2022-04-04 12:52] wirehack7 commented on #64
Are you sure that this is the isue @brillo9772 ?

[2022-04-04 13:41] JaouherK commented on #64
Thanks for informing us @brillo9772
closing the issue now :)

[2022-04-04 13:41] #64 closed

[2022-04-04 13:43] JaouherK commented on #63
Hi @wirehack7
yes, this issue is already resolved in the code. today or tomorrow I will push the new plugin for Elgato so they can add it to the library after they test it.

[2022-04-15 14:02] mrksnrm opened #65 "Not working on Mac (Montertey 12.3.1)"
On windows (11) working without problems, on Mac not working (displaying only yellow "Warning" recktangle)

[2022-04-19 08:25] Sentynal opened #66 "Bug report"
When I restart my computer, I have to press the button to get it to display the weather, even though I have the fetch frequency to 1 hour, rather than on button push.

[2022-04-23 11:25] jerptrs opened #67 "On Button Press It Shows Only The Yellow Exclamationmark."
I've tried both Weather API and Open Weather, set the city to Hamburg and also tried Hamburg,Germany. None worked so far. Also tried to set the "Round to closest degree" to "no". Also tried it with a different city like munich, also did not work.

Any idea what the issue could be? Is the plugin logging anything which I could check?

[2022-04-23 11:29] jerptrs commented on #67
Urgh. While clicking on "copy" on weatherapi.com It copied somehow only a part of the key. Weather API is now working fine.

[2022-04-23 11:29] #67 closed

[2022-05-03 20:35] GolfedMan commented on #66
Me too!  Was wondering if it can start automatically without button press
Ty!  👍 😄

[2022-05-03 20:36] GolfedMan commented on #40
Me too!  Hope it's fixed :) :) :) Love the plugin! 😄 🍺

[2022-05-13 20:13] controlauk opened #68 "Bug report"
Please write here a description of the bug and the steps to reproduce it.
the plugin is not working for me, i have tried both providers, i have put in the api keys

[2022-06-04 03:14] guokanong opened #69 "Bug report"
Please write here a description of the bug and the steps to reproduce it.

[2022-06-04 14:32] Logue-0 opened #70 "Bug report"
I'm not sure this is the intended function for this plugin but it'd be nice if it could start "automatically". Every other Streamdeck plugin automatically loads when you login into Windows. This one, however, you have to press the key assigned to it so that it actually starts running, even if you have it to load on a time basis (auto refresh). It doesn't start to auto refresh until you press the k

[2022-06-09 05:11] shanewilkinson opened #72 "Bug report"
Elgato Stream Deck  plugin Weather API doesn't work even after obtaining another API key

Exclamation mark shows - nothing else!

[2022-06-12 16:00] CelesteGH opened #73 "[Enhancement] Using IDs or city names"
Hi

My city on open weather has several entries and the first one is wrong. I can't seem to figure out the keywords to filter it.
It would be way better if I could use the city ID rather then the name.

Thanks

[2022-06-17 18:39] JaouherK commented on #73
@CelesteGH can you please provide me the exact name of your city to make some tests there?

[2022-06-19 12:13] CelesteGH commented on #73
My example with "Nice,FR" shows 3 results and no way of choosing one of them.
And you can see a 7°C difference between the first result and the other ones...

[2022-06-27 18:26] metabrady opened #74 "Bug report"
Please write here a description of the bug and the steps to reproduce it.
App not loading any weather data.  Using API key: 2cf6514d73a147f4847215839222406. Switched between both providers, city name "Austin, TX" and refreshing every hour.  Still nothing after a couple of days.

[2022-07-05 15:51] SimonFearby commented on #60
This is the same for me, I got an API key with Weather API and OpenWeather but I can't save the API key in Steam Deck v5.3.15197

[2022-07-05 23:29] skyopticuZz opened #75 "Bug report"
Please write here a description of the bug and the steps to reproduce it.
Not working on my elgato stream deck :/

[2022-07-07 16:08] webmentors opened #76 "Bug report"
Open weather api not working

[2022-07-09 21:43] philpeterman commented on #74
Please do not post your API key in a public forum like this bug report

[2022-07-12 10:14] kennyh61 opened #77 "Bug report"
weather doesn't refresh was working up until a week or 2 ago

[2022-07-16 15:11] VATKO321 opened #78 "Bug report"
Please write here a description of the bug and the steps to reproduce it.

[2022-07-17 16:04] nefariouslegion opened #79 "Question, once the Stream Deck is turned on is there a way to make the weather show without having to press the button once?"
This is just a question. It's in the title. But basically I'm wondering if there is a way to make the weather automatically show once the stream deck is powered on without having to press the button at all? Currently I have to press it once after a power cycle to get it to activate

[2022-07-25 13:38] ThatDumbUser commented on #73
I am having the same issue. Here is my example:

I work in Spring, Tx. If I type in Spring as the city name it pulls some other city's weather. If using Spring, Tx it pulls in the correct weather but then this also makes the city name expand off the edge of the icon button on the stream deck. If you could use the city ID and the parse the city name for the button label in a neat format that fit th

[2022-07-25 15:57] kmanan opened #80 "Bug report"
Please write here a description of the bug and the steps to reproduce it.
Weather does not update for several hours unless the physical button is pressed.

[2022-07-26 13:01] sbbacomtw opened #81 "Bug report"
Please write here a description of the bug and the steps to reproduce it.

[2022-07-29 09:56] DylanDelobel commented on #73
Same for `Perpignan, FR`
![image](https://user-images.githubusercontent.com/5182186/181734757-b4719dd5-6cfd-4b39-8e80-76b68e195dbb.png)
3 results I would use ID's

[2022-08-08 03:30] amykins13 opened #82 "Bug report"
I've added the Weather button to my Stream Deck and added all of the information, including the API Key (I have tried getting keys from Open Weather AND Weather API, neither seem to work). When I press the button, I just get an alert icon, and no weather shows up. I've tried with multiple options (C vs F, On Push vs a timed update, yes/no on round to closest degree, show or hide city name, various

[2022-08-09 11:27] CyboraOfficial opened #83 "Bug report: API doesn't save"
So I put the API key in, but then it just deletes itself out. City name works.

[2022-09-08 14:05] sorren4 opened #84 "Bug report - Weather Key, Open Weather"
Please write here a description of the bug and the steps to reproduce it.
I created a new API key from Open Weather and changed the key in the Stream Deck software for the key that I use for that purpose.  I even re-entered/set the specific settings for the data I was looking for (location, frequency, etc.).  However, it doesn't want to update.  I see the calls being made from the Stream Deck to t

[2022-09-08 14:21] sorren4 commented on #84
I may have it sorted.  Open Weather doesn't support the state format when entering location.  It wants the city, comma, 2 letter country code.  So I had to put in 'my city, US' and it seems to work.  Though it's hard to know if it's my exact city since there may be multiple instances of my city name in the US but only one in my state.

[2022-09-14 18:46] trust17 commented on #84
I have tried what @sorren4 says and it does not work well, I put "micity, ES" and it still gives error. Thank you.

[2022-09-17 22:46] SmooVyDGBMT opened #85 "Bug report"
Please write here a description of the bug and the steps to reproduce it.

[2022-09-18 10:15] itsPinguiz commented on #84
Same problem here.
I have performed the following steps:

- Created and verified my account at openweathermap.org
- Copied my API key into the proper field
- Selected Open Weather for my provider
- Wrote down my city name (bot as "city" and "city,country")
- Chose the temperature unit (I have issues in both F and C)
- Set the fetch frequency to be on push
- Selected hide for display city name (I h

[2022-09-19 22:08] biglat1595 commented on #84
I do have the same problem.

[2022-09-20 04:36] Squishyzbear commented on #60
it also doesn't work for me ,grabbed the api for open weather , put in city {exactly copied from how the site writes the name out ,incase the caps and ect mattered} . is there another step besides just making an api and copy pasting into deck plugin?

[2022-09-23 22:36] NGPixel commented on #84
Looks like you need to press <kbd>Enter</kbd> in both the API Key and City Name fields, otherwise it doesn't appear the save it properly, leading to the yellow exclamation icon.

[2022-09-30 18:39] Yngve114 opened #86 "Bug report"
there is a problem with the whether button on the stream deck so it doesn't work and I want to see what be is here when I use my pc sp I don't need to use my phone because I use my pc almost 24/7

[2022-09-30 18:45] Yngve114 commented on #86
it stil dosent work:(

[2022-09-30 19:28] JaouherK commented on #86
Hi, unfortunately a fix has not been uploaded yet. There is a fast test to
do in order to force it to work. Try the following steps:
- make an enter in both fields of api key and city
- push the button on the stream deck
- if you still see a yellow ⚠️ please try another format of the city like
nice,fr to refer to the country. And push the button again.
- if it doesn't work still let's try to have

[2022-10-21 14:51] shawtux opened #87 "/Bug report"
Getting Yellow Exclamation Mark

Please write here a description of the bug and the steps to reproduce it.
Provider: OpenWeather
Added API Key + enter
Added City Name + enter formats applied:

- city
- city,CL
- City,CL
- City,Cl
- city,Cl
- city,cl
- city, cl
- City, Cl
- CITY,CL
- CITY, CL

Change Temperatures
Changed Fetch Frequency
Changed Display city name
Changed round to closest degree

Reg

[2022-10-21 14:58] shawtux commented on #87
After a while, it worked with the following config:

CITY,CL

[2022-10-21 14:58] #87 closed, assigned to JaouherK

[2022-10-23 02:45] JebusWookiee commented on #84
I had the same issues, I did a search for my city in Open Weather and then Copy and pasted the exact naming they give back. works now.

Formatting is "Melbourne, AU" needs to have a capital and the country is 2 letters and capitals.

[2022-10-25 01:40] lennon10975 opened #88 "Bug report"
Please write here a description of the bug and the steps to reproduce it.
It stopped working I tried a new api key but noting just get the yellow triangle

[2022-11-01 20:01] nathaningram commented on #84
Same issue with Open Weather. API and City are in but I get the triangle with exclamation point like others. I have tried using other cities, and I've made sure that the city names are correct per the listing on Open Weather.

[2022-11-08 19:23] stephanknotek opened #89 "Bug report"
Pressing the button on the Stream Deck causes a yellow triangle with an exclamation mark to appear

[2022-11-15 15:11] jjvaillancourt00 opened #90 "Bug report"
No weather icons since 6.0 update
![image](https://user-images.githubusercontent.com/106346067/201954760-8f2e518e-6ced-4ea3-8903-a8426794aaed.png)

[2022-11-15 19:10] Coder84619 commented on #89
I updated to Streamdeck 6.0 on my M1 Pro Mac, and also get the yellow triangle.

[2022-11-16 13:08] hr2k10 opened #91 "Bug report"
Weather plugin dont show icons . Only the temperature.

[2022-11-16 13:25] hr2k10 opened #92 "Bug report"
no icon info. only text with info. :(

[2022-11-16 19:33] marcinszczepkowski commented on #65
Seconded. Not working on Ventura. I've configured the plugin, the API key is ok. Set it to my city - no dice, set it to another city - no dice.

[2022-11-18 18:19] idelgad782 opened #93 "Bug report"
Please write here a description of the bug and the steps to reproduce it.
The button presses on stream deck are no longer showing the icons for the weather on the button.

[2022-11-23 23:18] LennyPeppers opened #94 "Weather Plugin Icon"
The plugin shows the temperature, but the icon still shows the "Weather" logo, and won't update like it used to.

[2022-11-30 01:13] PhilippJulzz opened #95 "Bug report"
Please write here a description of the bug and the steps to reproduce it.

[2022-11-30 01:13] PhilippJulzz commented on #95
lippstadt